<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top p-5">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <i class="fa-solid fa-store fa-2x"></i>  <!-- Small store/shop icon -->
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">© 2025 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-body-secondary" href="#" aria-label="Instagram">
          <i class="fab fa-instagram fa-2x"></i> <!-- Instagram Icon -->
        </a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary" href="#" aria-label="Facebook">
          <i class="fab fa-facebook fa-2x"></i> <!-- Facebook Icon -->
        </a>
      </li>
    </ul>
</footer>
